@CHARSET "UTF-8";

p.login_info span {
	display : block;
	text-align : right;
	margin-top : -1em;
}
form#member_login_form table {
	border : solid 1px #ccc;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	-o-border-radius : 8px;
	width : 100%;
}

table.sz_member_login_table {
	width : 100%;
	margin-top : 10px;
	border : solid 1px #ccc;
}
table.sz_member_login_table th, table.sz_member_login_table td {
	padding : 20px 5px;
	border : solid 1px #ccc;
}
table.sz_member_login_table th {
	width : 30%;
	background-color : #ddd;
	font-size : 0.9em;
	text-align : right;
}
table.sz_member_login_table th span.r_need {
	color : #c00;
}
table.sz_member_login_table td {
	vertical-align : middle;
}
table.sz_member_login_table td input {
	width : 90%;
}
p.submission {
	margin : 15px 0;
	text-align : center;
}
p.submission input {
	padding : 0 10px;
}
p.error {
	margin : 3px 0;
	color : #c00;
}
div.msg {
	border : solid 1px #07f;
	background-color : #ffc;
	padding : 5px;
	text-align : center;
	font-size : 12px;
}

/* ==== password forgotten style ======= */
div#forgotten {
	border : solid 1px #666;
	border-radius : 8px;
	-moz-border-radius : 8px;
	-webkit-border-radius : 8px;
	-o-border-radius : 8px;
	padding : 10px;
	background : #eee;
}
div#forgotten label {
	display : block;
	text-align : center;
}
div#forgotten label input {
	width : 90%;
}