ul.sz_tab_block {
	margin: 0;
	padding : 0;
}
ul.sz_tab_block:after {
	content : '';
	display : block;
	height : 0px;
	clear : both;
	visibility : hidden;
}
* html ul.sz_tab_block {
	clear : both;
	overflow : hidden;
}
*:first-child+html ul.sz_tab_block {
	clear : both;
	overflow : hidden;
}
ul.sz_tab_block li {
	float : left;
	display : inline;
	margin : 0px 8px;
	width : auto;
}
ul.sz_tab_block li a {
	display : block;
	padding : 5px 8px;
	position : relative;
	background : url(images/tab_center.jpg) top left repeat-x;
	color : #fff;
}
ul.sz_tab_block li a:hover {
	background : url(images/tab_center_active.jpg) top left repeat-x;
}
ul.sz_tab_block li a.active {
	background : url(images/tab_center_on.jpg) top left repeat-x;
}
ul.sz_tab_block li a span {
	position : absolute;
	top : 0px;
	font-size : 0;
	width : 6px;
	height : 100%;
}
ul.sz_tab_block li a span.sz_tab_radius_left {
	left : -6px;
	background : url(images/tab_left.png) top left no-repeat;
}
ul.sz_tab_block li a span.sz_tab_radius_right {
	right : -6px;
	background : url(images/tab_right.png) top left no-repeat;
}
ul.sz_tab_block li a:hover span.sz_tab_radius_left {
	background : url(images/tab_left_active.png) top left no-repeat;
}
ul.sz_tab_block li a:hover span.sz_tab_radius_right {
	background : url(images/tab_right_active.png) top left no-repeat;
}
ul.sz_tab_block li a.active span.sz_tab_radius_left {
	background : url(images/tab_left_on.png) top left no-repeat;
}
ul.sz_tab_block li a.active span.sz_tab_radius_right {
	background : url(images/tab_right_on.png) top left no-repeat;
}
div.sz_tab_block_area {
	clear : both;
}
div.sz_tab_block_area div.tab_init_hide {
	display : none;
}
div.sz_tab_block_contents {
	clear : both;
}
div.edit_mode {
	border : solid 1px #c00;
}
p.sz_tab_block_next_prev {
	position : relative;
	height : 2em;
	margin : 0;
	padding : 0;
}
p.sz_tab_block_next_prev a {
	position : absolute;
	top : 0px;
}
p.sz_tab_block_next_prev a.tab_block_prev {
	left : 10px;
}
p.sz_tab_block_next_prev a.tab_block_next {
	right : 10px;		
}
p.sz_tab_block_next_prev a.link_init_hide {
	display : none;
}